.ux-lovcombo-icon { 
    width:16px; 
    height:16px; 
    float:left; 
    background- -1px ! important; 
    background-repeat:no-repeat ! important; 
} 
.ux-lovcombo-icon-checked { 
    background: transparent url(../../resources/images/default/menu/checked.gif); //注意修改路径
} 
.ux-lovcombo-icon-unchecked { 
    background: transparent url(../../resources/images/default/menu/unchecked.gif); //注意修改路径
}


