<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<context:annotation-config />

	<!--   定时调度工厂   -->
	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!--  ref local="taskQueueManagerTrigger" /  -->
			</list>
		</property>
	</bean>
	
	<!--   同步任务队列（触发器）   -->
	<!--  bean id="taskQueueManagerTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="taskQueueManagerJob" />
		<property name="cronExpression" value="0/30 * * * * ? 2000-2099" />
	</bean  -->

	<!--  bean id="taskQueueManagerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.neteast.rmp.service.task.DemoTask" />
		<property name="jobDataAsMap">
			<map>
				<entry key="manualTaskQueue" value-ref="taskQueue"/ >
			</map>
		</property>
	</bean  -->
	
</beans>